/* 查看全部 */
.chakan_all{
    justify-content: center;
    font-size: 1.6rem;
}

/* 猜你喜欢 */
.guess_like{
    background: #fff;
    margin-bottom: 1rem;
}
.guess_like_title{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.like_banner_list{
    padding-right: 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.like_banner_list li{
    width: 33.33333333%;
    padding-left: 5%;
    padding-bottom: 1.2rem;
    box-sizing: border-box;
    flex-shrink: 0;
}
.like_banner_list li img{
    width: 100%;
}
.like_price{
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: .4rem;
    color: #333;
}
.g_name{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #a2a4a6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
.swiper2 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #F20C59;
}
.swiper2 .swiper-pagination {
    top: 30rem;
}
.swiper2 .swiper-wrapper{
    padding-bottom: 1rem;
}
.guess_like_banner{
    padding-bottom: 1.3rem;    
}